<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Iris Flower Prediction</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">
    <h2>IRIS Flower Specie Classification</h2>

    <form method="POST">
        <input type="number" step="any" name="f1" placeholder="Sepal Length (cm)" required>
        <input type="number" step="any" name="f2" placeholder="Sepal Width (cm)" required>
        <input type="number" step="any" name="f3" placeholder="Petal Length (cm)" required>
        <input type="number" step="any" name="f4" placeholder="Petal Width (cm)" required>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
    <div class="result">
        <h3>Prediction: {{ prediction }}</h3>
        <p>Confidence: {{ confidence }}%</p>

        <h4>Class Probabilities</h4>
        <ul>
            {% for cls, prob in probabilities.items() %}
                <li>{{ cls }} : {{ prob }}%</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

</body>
</html>    